<%= form_with(model: article, local: true) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Título %><br>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :Área_do_conhecimento %><br>
    <%= form.text_field :tag %>
  </div>
  
  <div class="field">
    <%= form.label :Descrição %><br>
    <%= form.text_area :description %>
  </div>

  

  <div class="field">
    <%= form.label :escreva %><br>
    <%= form.text_area :user_id, rows: 10 %>
  </div>

  <div class="actions text-right">
    <%= form.submit "publicar"%>
  </div>
<% end %>
