<div class="container body-article"> 

    <%= link_to image_tag("back.svg"), articles_path, class: "btn-back" %>

    <h1 class="title-article">criar artigo</h1>


    <div class="form-group">

        <%= render 'form', article: @article %>

    </div>
    
    
</div>