<p id="notice"><%= notice %></p>

<h1>Directorships</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Director</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @directorships.each do |directorship| %>
      <tr>
        <td><%= directorship.name %></td>
        <% unless directorship.director.nil? %>
          <td><%= User.find(directorship.director).name %></td>
        <%else%>
          <td></td>
        <%end%>
        <td><%= link_to 'Show', directorship %></td>
        <td><%= link_to 'Edit', edit_directorship_path(directorship) %></td>
        <td><%= link_to 'Destroy', directorship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Directorship', new_directorship_path %>
