<!DOCTYPE html>
<html>
  <head>
    <title>Projeto final</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <% if user_signed_in? %>
<<<<<<< HEAD
        <header>
          <nav>
            <%= link_to  "Perfil", current_user %>
            <%= link_to  "Fórum", posts_path %>
            <%= link_to  "Artigos", articles_path %>
            <% if current_user.kind == 'cell_manager' || 'pmo_manager' %>
              <%= link_to  "Células", cells_path %>
            <%end%>
            <% if current_user.kind == 'director' || 'project_director' || 'gp_director' %>
              <%= link_to  "Diretorias", directorships_path %>
              <%= link_to  "Células", cells_path %>
            <%end%>
            <% if current_user.kind == 'gp_director' %>
              <%= link_to  "Usuários", users_path %>
            <%end%>
            <% if current_user.kind == 'pmo_manager' || 'project_director' %>
              <%= link_to  "Projetos", projects_path %>
            <%end%>
          </nav>
        </header>
=======
        <nav>



          <%= link_to  "Perfil", current_user %>
          <%= link_to  "Fórum", posts_path %>
          <%= link_to  "Artigos", articles_path %>
          <% if current_user.kind == 'cell_manager' || 'pmo_manager' %>
            <%= link_to  "Células", cells_path %>
          <%end%>
          <% if current_user.kind == 'director' || 'project_director' || 'gp_director' %>
            <%= link_to  "Diretorias", directorships_path %>
            <%= link_to  "Células", cells_path %>
          <%end%>
          <% if current_user.kind == 'gp_director' %>
            <%= link_to  "Usuários", users_path %>
          <%end%>
          <% if current_user.kind == 'pmo_manager' || 'project_director' %>
            <%= link_to  "Projetos", projects_path %>
          <%end%>
        </nav>
>>>>>>> 2d0bb8961dc83f5a46baf555ee5e64ff67e1fb70
      <%end%>
    <% if user_signed_in? %>
      <%= link_to  "Log-out", destroy_user_session_path(current_user.id), method: :delete %>
    <%end%>


    <div class="navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <%= image_tag("menu-button.svg", size: "30x30", :alt => "Menu")%>
          </button>
          <a class="navbar-brand" href="#">

            <%= image_tag("logo-branca.png", size: "60x40", :alt => "Logo InJunior") %>
          </a>
        </div>
        <div class="navbar-collapse collapse" id="navbarToggler">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="#">Artigos</a>
            </li>
            <li>
              <a href="#">Fórum</a>
            </li>
            <li>
              <a href="#">Projetos</a>
            </li>
            <li>
              <a href="#">Diretoria</a>
            </li>
            <li>
              <a href="#">Células</a>
            </li>
            <li class="nav-item-profile">
              <a href="#">
                <%= image_tag("image-profile-white.png", size: "30x30", :alt => "Perfil do usuário") %>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>


    <%= yield %>

    <footer>


    <div class="containeir">

      <div class="row">

        <div class="col-sm-8">
          <ul class="text-center">
            <li>
              <a href="#">Artigos</a>
            </li>
            <li>
              <a href="#">Fórum</a>
            </li>
            <li>
              <a href="#">Projetos</a>
            </li>
            <li>
              <a href="#">Diretorias</a>
            </li>
            <li>
              <a href="#">Células</a>
            </li>
          
        </div>
        <div class="col-sm-4">
          <%= image_tag 'logo-branca.png', id: 'img-logo', class: 'img-responsive' %>

        </div>
      </div>

      <div class="footer-copyright text-center">
        <p>Copyright © 2019 Feito com <3 e vários códigos | Grupo 2</p>
      </div>
    </div>
    </footer>

    <a href="#" class="go-top"><%= image_tag 'up-arrow.svg', class: 'img-responsive' %></a>
    
  </body>
</html>
